<nav class="navbar navbar-default ">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Crear', todos_new_path %></li>
      <li><%= link_to 'Lista', todos_list_path %></li>
  </ul>
  </div>
</nav>
